[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
requests = "*"
fake-useragent = "*"
bs4 = "*"
tqdm = "*"
prettytable = "*"
lxml = "*"

[requires]
python_version = "3.7"
